package test

templ Hello(name string) {
	<div>Hello, { name }</div>
    <div>Goodbye, { name }</div>
    <div>Welcome back, { name }!</div>
    <div>Thanh Tuyền</div>
    <div>Chúc mừng năm mới, { name }!</div>
}

